{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block title %}Страница профиля{% endblock title %}

{% block content %}
<h6>Имя пользователя: {{ user.username }}</h6>
<h6>Имя: {{ user.first_name }}</h6>
<h6>Фамилия: {{ user.last_name }}</h6>
<h6>Адрес: {{ user.address }}</h6>
<h6>День рождения: {{ user.birth_date }}</h6>
<div>
    <a href="{% url 'update_profile' object.pk%}">Изменить профиль</a>
</div>
    <!--<div class="col-4">-->
    <!--    <form action="" method="post">-->
    <!--        {% csrf_token %}-->
    <!--        {{ form|crispy }}-->
    <!--        <button class="btn btn-dark" type="submit">Изменить</button>-->
    <!--    </form>-->
    <!--</div>-->
    {% endblock content %}
