{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block title %}Страница профиля{% endblock title %}

{% block content %}
<h6>Имя пользователя: {{ user.username }}</h6>
<h6>Имя: {{ user.first_name }}</h6>
<h6>Фамилия: {{ user.last_name }}</h6>
<h6>Адрес: {{ user.address }}</h6>
<h6>День рождения: {{ user.birth_date }}</h6>
<div class="btn btn-dark nav-item me-2">
    <a class="nav-link" href="{% url 'update_profile' object.pk%}">Изменить профиль</a>
</div>
<div class="btn btn-dark nav-item me-3">
    <a class="nav-link" href="{% url 'my_orders' %}">Мои заказы</a>
</div>
    {% endblock content %}
