{% extends "base.html" %}

{% block title %}Новости{% endblock title %}

{% block content %}
<div class="news-page">
    <div class="main-news__wrapper owl-carousel">
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Как уложиться в 50, 70, 90 рублей? Идеи недорогих подарков на Новый год и Рождество">
                        <img class="article-image" src="/media/images/новогодний переполох+.jpg"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="Как уложиться в 50, 70, 90 рублей? Идеи недорогих подарков на Новый год и Рождество">Как
                            уложиться в 50, 70, 90 рублей? Идеи недорогих подарков на Новый год и Рождество</a>
                        <div class="ok-infoblock__shorttext">Мы подготовили для вас подборку идей недорогих подарков на
                            новый год и рождество за 50, 70, 90 рублей, чтобы сэкономить ваше время и избавить от
                            простаивания в очередях в предновогодние дни.
                            &nbsp;

                            &nbsp;
                            По опыту многих лет мы знаем, что самый активный...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Что подарить парню, любимому мужу на День рождения? Идеи подарков для вашего мужчины">
                        <img class="article-image" src="/media/images/idei podarkov dla parnya.jpg" width="307px" ,
                             height="205px"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="Что подарить парню, любимому мужу на День рождения? Идеи подарков для вашего мужчины">Что
                            подарить парню, любимому мужу на День рождения? Идеи подарков для вашего мужчины</a>
                        <div class="ok-infoblock__shorttext">


                            Скоро у вашего дорого человека день рождения. Мы понимаем, что вам хочется не просто оказать
                            знак внимания, а удивить его подарком, увидеть блеск и радость в глазах. Услышать: «-Это
                            мне?!! Как ты догадалась? Какой крутой подарок! Я очень давно хот...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Компьютеры &quot;JET&quot; в рассрочку и кредит до 60 месяцев">
                        <img class="article-image"
                             src="/media/images/купить игровой компьютер в рассрочку в минске.png"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="Компьютеры &quot;JET&quot; в рассрочку и кредит до 60 месяцев">Компьютеры "JET" в
                            рассрочку и кредит до 60 месяцев</a>
                        <div class="ok-infoblock__shorttext">

                            У нас для вас хорошая новость! Теперь приобрести компьютер "JET" для игр или работы вы
                            можете в рассрочку или кредит от 6 до 60 месяцев. И уже через несколько дней вы будете
                            играть в любимые игры с теми настройками, скоростью и качеством график...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="В подарок монтажный комплект (для сокета 1700) - при покупке СО &quot;be quiet!&quot;">
                        <img class="article-image" src="/media/images/купить кулер be quiet.png"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="В подарок монтажный комплект (для сокета 1700) - при покупке СО &quot;be quiet!&quot;">В
                            подарок монтажный комплект (для сокета 1700) - при покупке СО "be quiet!"</a>
                        <div class="ok-infoblock__shorttext">

                            Выгодное предложение! При покупке кулеров или СВО производителя be quiet! вы получите в
                            подарок монтажный комплект для установки систем охлаждения be quiet! на материнские платы
                            сокетом LGA1700.
                            Для СО:


                            Dark Rock 4;
                            Dark Rock Slim;
                            Dark Rock TF 2;
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="При покупке кресла Genesis подставка для ноутбука в подарок!">
                        <img class="article-image" src="/media/images/Купить компьютерное кресло.jpg"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="При покупке кресла Genesis подставка для ноутбука в подарок!">При покупке кресла
                            Genesis подставка для ноутбука в подарок!</a>
                        <div class="ok-infoblock__shorttext">При покупке компьютерного кресла Genesis подставка Oxid 550
                            для вашего ноутбука в подарок!


                            Игровой бренд Genesis уже 10 лет производит технику для геймеров. И поэтому знает, что вы
                            цените больше всего: комфорт, функциональность, эргономичность.
                            Кресла&amp;...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="ДАРИМ MC 1 эффективное охлаждение для вашего M.2 SSD">
                        <img class="article-image" src="/media/images/купить кулер блок питания корпус be quiet.jpg"
                             width="307px" , height="154px"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="ДАРИМ MC 1 эффективное охлаждение для вашего M.2 SSD">ДАРИМ MC 1 эффективное
                            охлаждение для вашего M.2 SSD</a>
                        <div class="ok-infoblock__shorttext">


                            ДАРИМ MC 1 эффективное охлаждение для M.2 SSD при покупке любого сета немецкого бренда "be
                            quiet!" : "кулер + блок питания + корпус".

                            Цените тишину и высокую производительность?
                            Присоединяйтесь к миру бесшумных технологий премиум к...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Купи подставку для ноутбука и получи в подарок мышку ">
                        <img class="article-image" src="/media/images/ПОДСТАВКа для ноутбука купить.gif"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="Купи подставку для ноутбука и получи в подарок мышку ">Купи подставку для ноутбука и
                            получи в подарок мышку </a>
                        <div class="ok-infoblock__shorttext">
                            &nbsp;
                            При покупке подставки для ноутбука&nbsp;Genesis Oxid 450 или Oxid 550 вы получите в ПОДАРОК
                            мышь для ноутбука Natec SPARROW White.


                            &nbsp;
                            Подставки для ноутбука&nbsp;Genesis Oxid 450 / Oxid 550
                            &nbsp;

                            Охлаждающая подставка для ноутбука (до 17....
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Купи геймерское кресло и получи подставку для ноутбука в подарок">
                        <img class="article-image" src="/media/images/идеи подарков для парня - Copy 1.jpg"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="Купи геймерское кресло и получи подставку для ноутбука в подарок">Купи геймерское
                            кресло и получи подставку для ноутбука в подарок</a>
                        <div class="ok-infoblock__shorttext">


                            При покупке любого геймерского кресла Genesis вы получите в подарок охлаждающую подставку с
                            подсветкой для ноутбука Genesis Oxid 450 (NHG-1678) RGB 15.6".
                            &nbsp;


                            &nbsp;


                            Кресла Genesis

                            Опытные геймеры предъявляют высокие требования к игровым к...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a href="#"
                                                                      title="Акция! При покупке ПК с видеокартой 1660 Super - игровой сет в подарок! До 31 марта!">
                        <img class="article-image" src="/media/images/купить игровой компьютер + (2).jpg"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="Акция! При покупке ПК с видеокартой 1660 Super - игровой сет в подарок! До 31 марта!">Акция!
                            При покупке ПК с видеокартой 1660 Super - игровой сет в подарок! До 31 марта!</a>
                        <div class="ok-infoblock__shorttext">&nbsp;
                            &nbsp;
                            Купите компьютер JET с видеокартой 1660 Super до 31.03 и получите в подарок комплект
                            Thunderstreak 3.0.
                            &nbsp;


                            Игровой сет для ваших побед. Thunderstreak 3.0 от Fury
                            &nbsp;
                            Компания Fury - известный производитель игровой периферии. Ее проду...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="-275 р. на сет игровой мебели при покупке ПК &quot;JET&quot;">
                        <img class="article-image" src="/media/images/купить компьютер.png"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="-275 р. на сет игровой мебели при покупке ПК &quot;JET&quot;">-275 р. на сет игровой
                            мебели при покупке ПК "JET"</a>
                        <div class="ok-infoblock__shorttext">


                            При покупке ПК "JET" до 31 декабря скидка 275 руб. на набор геймерсокй мебели с подсветкой
                            от польского игрового бренда Genesis.

                            ИГРОВОЕ КРЕСЛО GENESIS TRIT 600


                            ИГРОВОЕ КРЕСЛО GENESIS TRIT 600 (NFG-1577) GAMING RGB BLACK


                            RGB подсветка T...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a href="#"
                                                                      title="Игровые корпуса для ПК от европейских производителей">
                        <img class="article-image"
                             src="/media/images/КУПИТЬ ИГРОВОЙ КОРПУС ДЛЯ ПК В МИНСКЕ (ДЛЯ ПОСТА).jpg"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title" href="#"
                           title="Игровые корпуса для ПК от европейских производителей">Игровые корпуса для ПК от
                            европейских производителей</a>
                        <div class="ok-infoblock__shorttext">Игровые корпуса для компьютеров&nbsp;от европейских брендов

                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;

                            Предложения для геймеров &nbsp;от популярного немецкого бренда Chieftec.&nbsp;
                            Эффективное&nbsp;охлаждение&nbsp;и продуманные решения для вашего комфорта
                            &amp;...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="-30% на продукцию игрового бренда Fury! И -20% на Genesis">
                        <img class="article-image"
                             src="/media/images/купить игровую мышь клавиатуру кресло геймпад наушники.png"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="-30% на продукцию игрового бренда Fury! И -20% на Genesis">-30% на продукцию игрового
                            бренда Fury! И -20% на Genesis</a>
                        <div class="ok-infoblock__shorttext">Скидки на польские игровые бренды Genesis и Fury!
                            &nbsp;
                            &nbsp;-30% на игровую периферию польского бренда Fury
                            &nbsp;


                            &nbsp;


                            Польский производитель Fury знает, чтобы быть эффективным на виртуальных полях сражений и
                            выполнять все более сложные мисси...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ok-infoblock clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 f-tac"><a
                            href="#"
                            title="Немецкое охлаждение по привлекательной цене  - кулер XILENCE M403 ">
                        <img class="article-image"
                             src="/media/images/бесшумный ВЕНТИЛЯТОР для кулера XILENCE M403  купить.png" width="307px"
                             , height="307px"></a>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <a class="ok-infoblock__title"
                           href="#"
                           title="Немецкое охлаждение по привлекательной цене  - кулер XILENCE M403 ">Немецкое
                            охлаждение по привлекательной цене - кулер XILENCE M403 </a>
                        <div class="ok-infoblock__shorttext">Немецкое &nbsp;качество, высокая производительность по
                            выгодной цене (39,90 р.) – главная отличительная особенность техники Xilence. Что очень
                            выгодно выделяет ее на фоне конкурентов.
                            Компактный (120 × 71.6 × 14 мм) и производительный (15...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}