{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block title %}Добавление товара{% endblock title %}

{% block content %}
<div class="col-4">
    <h2>Новый товар</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="photo-form-set">
            {{ formset.management_form }}
            {% for form in formset %}
              {{ form|crispy }}
            {% endfor %}
        </div>
        <button type="button" id="add-photo" class="btn btn-success">Add Photo</button>
        {{ form|crispy }}
        <button class="btn btn-dark" type="submit">Добавить</button>
    </form>
</div>
{% endblock content %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addButton = document.querySelector('#add-photo');
        const formIdx = document.querySelector('#id_productphoto-TOTAL_FORMS');
        const photoFormSet = document.querySelector('#photo-form-set');

        addButton.addEventListener('click', function () {
            const newForm = document.createElement('div');
            newForm.classList.add('photo-form');
            let newFormHTML = `
                {% with form=formset.empty_form %}
                  {{ form|crispy }}
                {% endwith %}
            `;
            newFormHTML = newFormHTML.replace(/__prefix__/g, formIdx.value);
            newForm.innerHTML = newFormHTML;
            photoFormSet.appendChild(newForm);

            formIdx.value = parseInt(formIdx.value) + 1;
        });
    });
</script>
{% endblock extra_js %}