{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <img src="{{ object.image.url }}">
        </div>
        <div class="col">
            <p><strong>{{ object.name }}</strong></p>
            <div class="col">
                <pre>{{ object.description_all }}</pre>
            </div>
        </div>

        <div class="col">
            <p>{{ "Цена:" }} {{ object.price }} {{ "руб." }}</p>
            <button class="btn btn-dark" type="submit">Добавить в корзину</button>
        </div>
    </div>
    <hr>
    <h6>Отзывы</h6>
    <hr>
<!--    <h5>Добавить отзыв</h5>-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form|crispy }}-->
<!--        <button class="btn btn-dark ml-2" type="submit">Оставить отзыв</button>-->
<!--    </form>-->
    <hr>
    {% for comment in product.comment_set.all %}
    <p><strong>{{ comment.author }}</strong></p>
    <p>{{ comment }}</p>
    {% endfor %}
    <hr>
</div>
{% endblock content %}